* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

/************Join-Beta-Pop-up************/
.hide-overflow {
  overflow-y: hidden;
}
/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.65);
  z-index: 9999;
}

.modal-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  padding: 130px 192px;
  background: #ffffff;
  border-radius: 20px;
}

.closeModal {
  cursor: pointer;
  display: none;
}

.closeModal:hover {
  color: #000;
}

.p-logo {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.p-content {
  text-align: center;
}

.p-content p {
  color: #7a869a;
  margin-bottom: 40px;
}

.p-content h1 {
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  color: #344563;
  padding-bottom: 10px;
}

.sub {
  display: flex;
  justify-content: center;
}

input {
  background: #f4f5f7;
  border-radius: 3px 0px 0px 3px;
  padding: 7px 128px 8px 20px;
  border: none;
  outline: none;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 24px;
}

.sub-btn {
  background: #e266ed;
  border-radius: 0px 3px 3px 0px;
  padding: 7px 16px 8px;
  color: #ffffff;
  text-decoration: none;
}
@media screen and (max-width: 1350px) {
  .modal-box {
    padding: 80px 82px;
  }
}
@media screen and (max-width: 767px) {
  .modal-box {
    padding: 45px 10px;
    border-radius: 10px;
  }
  .modal-box {
    width: 80%;
  }
  .p-logo {
    margin-bottom: 50px;
  }

  .p-content h1 {
    font-size: 18px;
    padding-bottom: 0px;
  }
  .line-break {
    display: none;
  }
  input {
    width: 70%;
    padding: 12px 0px 12px 10px;
    font-size: 14px;
    line-height: 18px;
  }

  .sub-btn {
    padding: 12px 10px;
  }
  .sub-btn a {
    font-size: 14px;
  }
}

/*****************Universal Button**********/
a {
  text-decoration: none;
}
/******** Navbar & Hero **********/
.container-nav {
  width: 100%;
}

.hero-section-container {
  background-image: url("../main-images/Top.png");
  background-color: #fff7fc;
  height: 100vh;
  width: 100vw;
  background-size: 100vw 100vh;
  background-position: center;
  background-repeat: no-repeat;
}

.nav_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0px;
  height: 124px;
}

.hero-section {
  height: calc(100vh - 124px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-section h1 {
  text-align: center;
  color: #ffffff;
  font-size: 50px;
  line-height: 60px;
  font-weight: 600;
  margin-bottom: 1em;
}

.hero-section img {
  height: 270px;
}

.nav_links ul {
  margin: 0px;
  margin-top: -15px;
}

.nav_links ul li {
  display: inline-block;
  padding-right: 30px;
}

.nav_links li a {
  text-decoration: none;
  color: #ffffff;
  line-height: 25px;
}

.join-btn a {
  padding: 8px 25px;
  color: #e266ed !important;
  background-color: #ffffff;
  border-radius: 5px;
}

.nav-cart {
  display: inline;
}
.nav-cart img {
  margin-bottom: -15px;
}

.mobile-cart {
  display: inline;
}

.mobile-cart {
  display: none;
}

.ham-icon {
  display: none;
}

.close-ham {
  display: none;
}

/**********trusted-by************/
#trusted-by {
  background: #fdf7fc;
}
.trusted-logos {
  padding: 89px 15%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/**********features************/
#features {
  padding: 110px 88px 70px 88px;
  background: #fdf7fc;
}
#features h2 {
  margin-bottom: 70px;
  line-height: 34px;
}
.features-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.features-left {
  margin-right: 80px;
}
.features-left h2 {
  margin-bottom: 80px;
  font-weight: 600;
  font-size: 30px;
  line-height: 43px;
  letter-spacing: 0.018em;
  color: #49214d;
}
.features-left h4 {
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  letter-spacing: 0.018em;
  color: #49214d;
  margin-bottom: 10px;
}
.features-left p {
  font-size: 20px;
  line-height: 29px;
  letter-spacing: 0.018em;
  color: #49214d;
  opacity: 0.5;
  margin-bottom: 40px;
}
.features-tick {
  display: flex;
  flex-direction: row;
}
.features-tick img {
  margin: -12px 15px 0 0;
}
.features-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.features-right img {
  /* width: 610px;
  height: 370px; */
  margin-top: -170px;
}
/**********services************/
#services {
  padding: 110px 88px;
}
#services h2 {
  font-weight: 600;
  font-size: 30px;
  line-height: 43px;
  display: flex;
  letter-spacing: 0.018em;
  margin-bottom: 90px;
}
.service-cards {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  justify-content: space-between;
}
#services .service-icons img {
  margin-bottom: 40px;
  height: 55px;
}
#services p {
  font-size: 20px;
  line-height: 29px;
  color: #000000;
  opacity: 0.5;
}
/**********footer************/
#footer {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  justify-content: space-between;
  padding: 110px 88px 88px 88px;
  font-size: 20px;
  line-height: 29px;
  letter-spacing: 0.018em;
}
#footer ul {
  list-style: none;
}
#footer ul li {
  margin-bottom: 22px;
}
#footer a {
  text-decoration: none;
  color: #a98fa5;
}
.footer-head {
  font-weight: 500;
  color: #49214d !important;
  margin-bottom: 40px;
}
/**********copyrights************/
#copyright {
  background: #fdf7fc;
  padding: 39px 0 42px 88px;
}
.copyright-main {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
#copyright a {
  text-decoration: none;
  color: #49214d;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  margin-right: 40px;
}
#copyright p {
  color: #49214d;
  opacity: 0.5;
  font-size: 20px;
  line-height: 29px;
  margin: 0;
}

@media screen and (min-width: 1600px) {
  .container-main {
    width: 85%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1920px) {
  .container-main {
    width: 70%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 1366px) {
  .hero-section img {
    height: 200px;
  }
}
@media screen and (min-width: 1365px) and (max-width: 1919px) {
  .container-nav {
    width: 86%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 1350px) {
  /**************Hero BG*******************/
  .hero-section-container {
    height: 70vh !important;
    background-position-y: -10vh;
    background-size: 150vw 80vh;
  } /***************Hero***********/
  .hero-section {
    height: 77vh;
  }
  /***************Features***********/
  #features span {
    display: none;
  }
  /*************Navbar**************/
  .nav-shadow {
    background: rgba(255, 255, 255, 0.03);
    box-shadow: 0px 0px 1px rgba(56, 25, 59, 0.3),
      0px 0px 10px rgba(56, 25, 59, 0.08);
  }
  .nav_bar {
    height: 100px;
  }

  .brand__logo {
    width: 132px;
    display: inline;
  }

  .nav_links {
    /* opacity: 0; */
    display: none;
    position: absolute;
    top: 100px;
    left: 0%;
    background: linear-gradient(110.92deg, #ca5cd4 0%, #612966 106.26%);
    height: calc(100vh - 100px);
    width: 100vw;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }

  .nav_links ul {
    padding: 30px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 100px);
  }

  .nav_links li {
    display: block !important;
    padding-right: 0px !important;
    padding-bottom: 40px;
    text-align: center;
  }

  .nav-cart {
    display: none;
  }

  .join-btn {
    margin: 0px !important;
    padding: 0px !important;
  }

  .mobile-cart {
    display: block;
    cursor: pointer;
  }

  .mobile-cart img {
    width: 24px;
  }

  .hero-section h1 {
    font-size: 30px;
    line-height: 40px;
    margin-top: -150px;
  }

  /* Classes for Hamburger menu */

  .show-nav {
    /* opacity: 1; */
    display: block;
    z-index: 999;
  }

  .ham-icon {
    display: inline;
    padding-right: 22px;
    cursor: pointer;
  }

  .close-ham-icon {
    display: inline;
    padding-right: 22px;
    cursor: pointer;
  }

  .remove-ham-icon {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .nav_bar {
    padding-top: 12%;
  }
  .hero-section h1 {
    font-size: 20px;
    line-height: 26px;
    margin-top: -100px;
  }
}



@media screen and (min-width: 768px) and (max-width: 1350px) {
  /*************Main Container**************/
  .container-main {
    width: 85%;
    margin: 0 auto;
  }
  /*************Trusted Logos**************/
  .trusted-logos {
    padding: 50px 0;
  }
  .trusted-logos img {
    width: 70px;
  }
  /***************features*****************/
  #features {
    padding: 80px 0;
  }
  #features h2 {
    /* text-align: center; */
    margin-bottom: 35px;
    font-size: 30px;
    line-height: 43px;
  }
  .features-content {
    display: flex;
    flex-direction: column-reverse;
  }
  .features-left {
    margin-right: 0px;
  }
  .features-left h4 {
    font-size: 20px;
    line-height: 29px;
    letter-spacing: 0.018em;
    color: #49214d;
    margin-bottom: 10px;
  }
  .features-left p {
    font-size: 20px;
    line-height: 29px;
    margin-bottom: 40px;
  }
  .features-right {
    flex-direction: row;
  }
  .features-right img {
    width: 85vw;
    margin-bottom: 33px;
    margin-top: 0px;
  }
  /**************services****************/
  #services {
    padding: 80px 0px;
  }
  #services h2 {
    font-size: 30px;
    line-height: 43px;
    margin-bottom: 60px;
  }
  .service-cards {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-column-gap: 10%;
    grid-row-gap: 2em;
    justify-content: space-between;
  }
  .service-icons {
    width: 38vw;
    padding: 25px 20px;
    border: 1px solid rgba(128, 128, 128, 0.233);
    border-radius: 7px;
  }
  #service-5{
    width: 223%;
  }
  /**************footer***************/
  .footer-main {
    background-color: #fdf7fc;
  }
  #footer {
    grid-template-columns: auto auto auto;
    padding: 80px 0 58px 0;
    grid-row-gap: 2em;
  }
  #footer ul li {
    margin-bottom: 10px;
    /* font-size: 12px; */
  }
  .footer-head {
    /* font-size: 12px; */
    margin-bottom: 22px;
  }
  /**************Copyrights***************/
  #copyright {
    background-color: #ffffff;
    padding: 20px 0;
  }
}
@media screen and (max-width: 767px) {
  /**************Hero BG*******************/
  .hero-section-container {
    height: 60vh !important;
    background-position-y: -20vh;
    background-size: 150vw 80vh;
  }
  /***************Hero***********/
  .hero-section {
    height: 63vh;
  }
  /**************Nav*******************/
  .nav_bar {
    height: 90px;
  }
  .nav_links {
    top: 90px;
    height: calc(100vh - 90px);
  }
  /*************Main Container**************/
  .container-main {
    width: 90%;
    margin: 0 auto;
  }
  /***************header*****************/
  .hero-section img {
    height: 130px;
  }
  /***************features*****************/
  #features {
    padding: 45px 0 25px 0;
  }
  #features h2 {
    margin-bottom: 28px;
    font-size: 14px;
  }
  .features-content {
    display: flex;
    flex-direction: column-reverse;
  }
  .features-left {
    margin-right: 0px;
  }
  .features-left h4 {
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.018em;
    color: #49214d;
    margin-bottom: 7px;
  }
  .features-left p {
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 20px;
  }
  .features-tick img {
    width: 12px;
    margin: -7px 10px 0 0;
  }
  .features-right {
    flex-direction: row !important;
    justify-content: flex-start !important;
    align-items: flex-start !important;
  }
  .features-right img {
    width: 90vw;
    height: 100%;
    margin-bottom: 33px;
    margin-top: 0px;
  }
  /*************Trusted Logos**************/
  /*************Trusted Logos**************/
  .trusted-logos {
    padding: 30px 0;
    /* flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 30px; */
  }
  .trusted-logos img{
    width: 13%;
  }
  /**************services****************/
  #services {
    padding: 45px 0px;
  }
  #services h2 {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 30px;
  }
  .service-cards {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-row-gap: 1em;
    grid-column-gap: 5%;
    justify-content: space-between;
  }
  .service-icons {
    width: 43vw;
    padding: 20px;
    border: 1px solid rgba(128, 128, 128, 0.233);
    border-radius: 7px;
  }
  #service-5{
    width: 210%;
  }
  #services .service-icons img {
    margin-bottom: 15px;
    height: 30px;
  }
  .service-icons a {
    text-decoration: none;
  }
  #services p {
    font-size: 12px;
    line-height: 16px;
    color: #000000;
    opacity: 0.5;
    margin-bottom: 0 !important;
  }
  /**************footer***************/
  .footer-main {
    background-color: #fdf7fc;
  }
  #footer {
    grid-template-columns: auto auto;
    grid-row-gap: 15px;
    justify-content: space-between;
    padding: 40px 20px 18px 0px;
  }
  #footer ul li {
    margin-bottom: 10px;
    font-size: 14px;
  }
  .footer-head {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 12px;
  }
  /**************Copyrights***************/
  #copyright {
    background-color: #ffffff;
    padding: 10px 0;
  }
  #copyright a {
    /* font-size: 14px;
    margin-right: 20px; */
    display: none;
  }
  #copyright p {
    font-size: 12px;
    margin: 0;
  }
  #copyright span {
    cursor: pointer;
    text-decoration: underline;
  }
}


/* Slider by me */

.slider-main-container {
  position: relative !important;
  height: 332px;
  margin-top: 20px;
  margin-bottom: 28px;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: scroll;
}

.slider-inner {
  position: absolute;
  display: grid;
  grid-auto-flow: column;
  top: 0;
  left: 0;
  width: 1000px;
  height: 100%;
  /* z-index: -1; */
}

.item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 98%;
  top: 1%;
  background-color: rgb(205, 205, 205);
  border: 1px solid rgb(0, 0, 0);
}

.progress-bar {
  position: absolute;
  bottom: -20px;
  left: 0;
  height: 5px;
  width: 100%;
  border: 1px solid black;
  border-radius: 10px;
}

.prog-bar-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: rgb(62, 62, 62);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.slider::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.slider {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.main-carousel {
  width: 100vw;
  height: 70vh;
  background: blue;
  position: relative;
  overflow: hidden;
}
.main-carousel .track {
  position: absolute;
  top: 28px;
  left: 0px;
  display: inline-flex;
  touch-action: none;
}

.card {
  width: 174.5px !important;
  background: #fff;
  border-radius: 3px;
  margin-right: 20px;
}

.product-cards {
  padding: 30px 10px 10px 10px;
  background: #fdf7fc;
  width: 174.5px !important;
  border-radius: 5px;
}
.product-card img {
  width: 51px;
  height: 48px;
  margin: 0 51.44px;
  margin-bottom: 36px;
}
.product-cards h4 {
  font-size: 10px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  margin-bottom: 9px;
  color: #42526e;
}
.products h3 {
  font-weight: 900;
  font-size: 14px;
  color: #172b4d;
  margin: 0 0 12px 20px;
  font-family: "Poppins", sans-serif;
}
.products p {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.018em;
  color: rgba(73, 33, 77, 0.4);
}
#products a {
  text-decoration: none;
  color: #998198;
}
.product-rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 9px;
}
.product-rating-text p {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 8px;
  color: #49214d;
  margin: 7.3px 0px 9px 10px;
}
.product-rating-stars {
  margin-right: 9px;
}
.product-rating-stars i {
  color: #fb8200;
  width: 9px;
  margin-right: 5px;
}

.add-to-cart {
  font-size: 8px;
  font-weight: 500;
  background-color: #e266ed;
  color: #fff;
  text-align: center;
  display: inline-block;
  margin-bottom: 7px;
  padding: 7px 14px;
  border-radius: 3px;
  text-decoration: none;
}

.add-to-cart a {
  text-decoration: none;
  color: #fff;
}

.add-to-cart img {
  width: 7px;
  margin-right: 8px;
}

.free-btn {
  font-size: 9px;
  font-weight: 500;
  color: #e266ed;
  margin-bottom: 7px;
  background-color: #fff;
  width: 100px;
  border: 0.8px solid #e266ed;
  text-decoration: none;
  padding: 7px 14px;
  display: inline-block;
  text-align: center;
  border-radius: 3px;
}

.product-card-title-text {
  display: none;
}

.product-cards p {
  display: none;
}

@media (min-width: 1350px) {
  .slider-main-container {
    position: relative !important;
    height: 1067px;
    margin-top: 20px;
    margin-bottom: 28px;
  }

  .slider-inner {
    display: grid;
    grid-auto-flow: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    grid-template-columns: auto auto auto;
    grid-gap: 70px;
  }


  .slider {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: scroll;
  }

  .slider {
    height: 100%;
    width: 100%;
    overflow: hidden !important;
  }

  .card {
    width: 370px !important;
    background: #fff;
    border-radius: 3px;
    margin-right: 0px;
    display: flex;
    justify-content: center;
  }

  .product-cards {
    padding: 65px 20px 20px 20px;
    background: #fdf7fc;
    border-radius: 5px;
    width: 370px !important;
  }

  .product-card {
    /* padding: 0 69px 0 69px;*/
    padding: 0px 106px;
  }

  .product-card img {
    width: 118.28px;
    height: 110px;
    margin: 0;
    margin-bottom: 77px;
  } 

  .product-card-title-text {
    display: inline;
  }

  .product-cards h4 {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2.75%;
    font-family: "Poppins", sans-serif;
    text-decoration: underline;
    line-height: 150%;
    margin-bottom: 12px;
    color: #49214D;
}

  .product-cards h3 {
    color: #49214D;
    font-size: 24px;
    margin-bottom: 12px;
  } 

  .product-cards p {
    font-size: 14px;
    margin-bottom: 12px;
    color: #49214D66;
    display: inline;
  }

  .product-rating-text p {
    font-size: 14px;
    margin: 0px;
    margin-left: 10px;
    margin-top: 2px;
    color: #49214D;
    font-weight: 500 !important;
  }

  .product-rating {
    margin-bottom: 12px;
  }

  .add-to-cart {
    font-size: 16px;
    font-weight: 500;
    background-color: #e266ed;
    color: #fff;
    text-align: left;
    display: inline-block;
    margin-bottom: 7px;
    padding: 10px 17px;
    border-radius: 3px; 
    text-decoration: none;
  }

  .add-to-cart img {
    width: 18px;
  }

  .free-btn {
    font-size: 15px;
    margin-bottom: 7px;
    background-color: #fff;
    width: auto;
    border: 0.8px solid #e266ed;
    text-decoration: none;
    padding: 10px 17px;
    display: inline-block;
    text-align: center;
    border-radius: 3px;
    margin-left: 13px;
}

}


.main-section {
  margin-top: 70px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding-bottom: 30px;
  border-bottom: 1px solid#F3F3F4;
  position: relative;
  /* border: 2px solid yellow; */
}

.one {
  display: flex;
  align-items: center;
}

.select-box {
display: flex;
flex-direction: column;
margin: 0px;
}

.select-box .options-container {
background: #FFFEFF;
color: #998198;
max-height: 0;
width: 79px;
opacity: 0;
transition: all 0.4s;
border-radius: 8px;
overflow: hidden;
order: 1;
margin-left: -35px;
box-shadow: 0px 4px 7px 0px #E266ED4D;
border: 1px solid #D0C0D2;
position: absolute;
top: 49px;
left: 35px;
z-index: 1;
font-size: 10px;
}

.selected {
background: #FFF;
border-radius: 5px;
margin-bottom: 9px;
font-size: 10px;
padding: 7px 14px;
color: #998198;
position: relative;
border: 1px solid #C9B8CC !important;
order: 0;
display: flex;
}

.selected img {
  padding-left: 8px;
  width: 18px;
}



.selected:hover {
  background: #F8EBF8;
}

.selected::after {
content: "";
background: url("/main-images/New-btn.svg");
background-size: 12px;
background-repeat: no-repeat;
position: absolute;
height: 100%;
width: 12px;
right: 8.5px;
top: 13px;
transition: all 0.4s;
}

.select-box .options-container.active {
max-height: 95px;
height: 95px;
opacity: 1;
overflow-y: scroll;
}

.select-box .options-container::-webkit-scrollbar {
width: 8px;
background: #fff;
border-radius: 0 8px 8px 0;
display: none;
-ms-overflow-style: none;
scrollbar-width: none; 
}

.select-box .options-container::-webkit-scrollbar-thumb {
background: #fff;
border-radius: 0 8px 8px 0;
display: none;
}

.select-box .options-container {
-ms-overflow-style: none;
scrollbar-width: none; 
}

.select-box .option {
padding: 12px 12px;
cursor: pointer;
margin: 0 auto;
}

.select-box .option:hover {
background: #F8EBF8;
}

.select-box label {
cursor: pointer;
}

.select-box .option .radio {
display: none;
}


/************************ Selected-one *****************************/


.select-box-one {
display: flex;
width: 120px;
flex-direction: column;
/* position: relative !important; */
margin: 0px !important;
margin-top: 0px !important;
}

.select-box-one .options-container-one {
  background: #FFFEFF;
  color: #998198;
  max-height: 0;
  width: 115px;
  opacity: 0;
  transition: all 0.4s;
  border-radius: 8px;
  overflow: hidden;
  order: 1;
  margin-left: -35px;
  box-shadow: 0px 4px 7px 0px #E266ED4D;
  border: 1px solid #D0C0D2;
  position: absolute;
  top: 49px;
  left: 114px;
  z-index: 1;
  font-size: 10px;
}

.selected-one {
  background: #FCF7FC;
  border-radius: 5px;
  margin-bottom: 9px;
  font-size: 16px;
  padding: 0px !important;
  color: #E266ED;
  position: relative;
  border: 0.8px solid #AA4DB21A;
  order: 0;
  padding: 7px 14px !important;
  display: flex;
  justify-content: space-between;
  margin-left: 16.83px;
  width: 115px !important;
  font-size: 10px;
}

@media (min-width: 450px) {
  .selected-one {
    width: 150px !important;
  }

  .select-box-one .options-container-one {
    width: 150px;
  }
}

@media (min-width: 1150px) {
  .option-one-span {
    display: none;
  }
}

.selected-one:hover {
  background: #F8EBF8;
}

.selected-one::after {
content: "";
background: url("../main-images/pink-down.svg");
background-size: 16px;
background-repeat: no-repeat;
position: absolute;
height: 100%;
width: 16px;
right: 8.5px;
top: 10px;
transition: all 0.4s;
}

.select-box-one .options-container-one.active {
max-height: 240px;
opacity: 1;
overflow-y: scroll;
}


.select-box-one .options-container-one::-webkit-scrollbar {
width: 8px;
background: #fff;
border-radius: 0 8px 8px 0;
display: none;
-ms-overflow-style: none;
scrollbar-width: none; 
}

.select-box-one .options-container-one::-webkit-scrollbar-thumb {
background: #fff;
border-radius: 0 8px 8px 0;
display: none;
}

.select-box-one .options-container-one {
scrollbar-width: none; 
}

.select-box-one .option-one,
.selected-one {
padding: 4px 14px;
cursor: pointer;
}

.select-box .option-one {
  padding: 6px 10px !important;
}

.select-box-one .option-one:hover {
background: #FCF0FD;
color: #E266ED;
border-radius: 5px;
}

.select-box-one label {
cursor: pointer;
}

.select-box-one .option-one .radio {
display: none;
}

@media (min-width: 1350px) {

.select-box-one {
    display: flex;
    width: 115px;
    flex-direction: column;
    margin-top: 0px !important;
    position: relative;
  }

  .filter---btns {
    padding-left: 90px;
    padding-right: 90px;
  }

  .slider-inner {
    padding-left: 88px !important;
    padding-right: 88px !important;
  }

.select-box-one .options-container-one {
  margin-top: -8px;
    background: #fff;
    color: #998198;
    max-height: 60px;
    width: 66vw;
    opacity: 1;
    transition: none;
    border-radius: 0px;
    overflow: hidden;
    order: 1;
    margin-left: 3vw;
    box-shadow: none;
    border: none;
    /* Styles for desktop */
    font-size: 13px;
    position: absolute;
    left: 0%;
    top: -21px;
    display: flex;
    justify-content: space-between;
  }

  .selected-one {
      display: none;
  }

  .select-box-one .option-one {
    margin: 0px 10px;
    padding: 12px 24px;
  }


  .select-box .options-container {
    width: 185px;
    margin-left: -67px;
    top: 58px;
    left: 35px;
    font-size: 16px;
    }
    
    .selected {
    font-size: 16px;
    padding: 12px 15px 13px 20px;
    }

    .selected::after {
      background-size: 18px;
      width: 18px;
      right: 10px;
      top: 15.5px;
      }

      .select-box .option {
        padding: 12px 17px 8px 17px;
        cursor: pointer;
        margin: 0 auto;
        }

        .select-box .options-container.active {
          max-height: 90px;
          height: 90px;
          opacity: 1;
          overflow-y: scroll;
          }
}

@media (min-width: 1600px) {
  .select-box-one .options-container-one {
      margin-top: -8px;
      max-height: 60px;
      width: 58vw;
      margin-left: 3vw;
      position: absolute;
      left: 0%;
      top: -21px;
    }
}

@media (min-width: 1920px) {
  .select-box-one .options-container-one {
      margin-top: -8px;
      max-height: 60px;
      width: 46vw;
      margin-left: 3vw;
      position: absolute;
      left: 0%;
      top: -21px;
    }
}


/* Filter Section */

.filter-btn div {
text-decoration: none;
border: 1px solid #C9B8CC;
width: 69px;
height: 39px;
border-radius: 5px;
color: #998198;
font-size: 10px;
font-weight: 400;
padding: 7px 12px 7px 14px;
display: flex;
align-items: center;
}

.filter-btn svg {
margin-left: 7px;
}

.filter-btn div:focus svg path {
fill: white !important;
}

.filter-btn div:focus {
background-color: #DADADA;
color: #fff;
border: none;
}

@media (min-width: 1350px) {
  .filter-btn div {
    text-decoration: none;
    border: 1px solid #C9B8CC;
    width: 101px;
    height: 49px;
    border-radius: 5px;
    color: #998198;
    font-size: 16px;
    font-weight: 400;
    padding: 12px 15px 13px 20px;
    display: flex;
    align-items: center;
    }
    .filter-btn svg {
      margin-left: 10px;
      }
}

/* Filter Tag Section */

.filter-tags-section {
margin-top: 30px;
}

/* Tag Container */

.tag-container {
display: flex;
flex-wrap: wrap;
align-content: flex-start;
width: 31.82%;
margin-right: 2.4%;
position: relative;
border: 2px solid black;
}

.tag-container .tag {
height: 30px;
margin: 5px;
padding: 5px 6px;
/* border: 1px solid #ccc; */
border-radius: 9px;
background: #f3f3f4;
display: flex;
align-items: center;
color: #333;
box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 1px 1px #fff;
cursor: default;
}
.tag i {
font-size: 16px;
color: #666;
margin-left: 5px;
}
.tag-container input {
padding: 5px;
font-size: 16px;
border: 0;
outline: none;
border-radius: 9px;
font-family: 'Rubik';
color: #333;
background: #F3F3F4;
flex: 1;
height: 44px;
padding: 13px 45px;
}

.tag-container img {
position: absolute;
left: 16px;
top: 13px;
width: 18px;
}

/* Filter section down container  */

.filter-btn-down-section {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.rating-input-section {
  width: 31%;
}

.rating-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 44px;
  border: 1px solid #958C96;
  padding: 10px 17px;
  border-radius: 9px;
  cursor: pointer;
  position: relative;
}

.rating-container h4 {
  font-size: 16px;
  color: #958C96;
  font-weight: 400;
}

.rating-dropdown {
  width: 24%;
  border: 1px solid #958C96;
  box-shadow: 0px 4px 7px 0px #F36BFF26;
  border-radius: 7px;
  position: absolute;
  left: 38%;
  top: 92%;
  opacity: 0;
  visibility: hidden;
  transition:opacity 0.2s linear, visibility 0.2s linear;
  padding: 12px 20px;
  background-color: #FFFFFF;
}

.rating-dropdown p,
.rating-dropdown input {
  display: inline-block;
}

.rating-dropdown-one,
.rating-dropdown-two,
.rating-dropdown-three,
.rating-dropdown-four,
.rating-dropdown-five {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.rating-dropdown-text {
  padding-left: 20px !important;
  font-size: 12px;
  color: #958C96;
} 

.rating-dropdown span {
  color: #272727;
}

.rating-input-section:hover .rating-dropdown {
  opacity: 1;
  visibility: visible;
  z-index: 3;
}

/* Range */

.filter-section-slider-container {
  width: 31%;
}

.main-page-range-container {
  width: 100%;
  margin: 0px;
}

.main-page-range-heading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 21px;
  padding: 0 20px 0 10px;
  width: 100%;
}

.filter-section-slider-container {
  padding-bottom: 13px;
}

.main-page-range-price {
  font-size: 16px;
  font-weight: 500;
  color: #49214D;
}

.main-page-range-number {
  font-size: 13px;
  color: #958C96;
}

.main-page-range-container .sliderContainer {
  width: 100%;
  margin-top: 0px;
  position: relative !important;
  display: flex;
  align-items: center;
}


.main-page-range-container .sliderContainer p {
  margin-top: 50px;
  opacity: 0.7;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 16px;
  color: #E266ED;
}

.main-page-range-container .slider-filter {
  -webkit-appearance: none;
  height: 2px !important;
  padding: 0px !important;
  background:linear-gradient(90deg, rgba(235, 0, 255, 0.98), rgba(235, 0, 255, 0.98));
  outline: none;
  width: 100%;
}

.main-page-range-container .slider-filter::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #EB00FF;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.4s;
  border: none;
  outline: none;
}


.main-page-range-container .slider-filter::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #EB00FF;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  outline: none;
}


 /* Copy Code From here */

 .filter-toggle-section {
  display: none;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  height: 78px;
  margin-top: 30px;
  position: relative;
}

.show-filter-toggle-btn {
  display: flex;
}

.filter-toggle-btn {
  cursor: pointer;
}

.filterfocus,
.filterfocus .pathfocused {
  background-color: #DADADA;
  color: #fff !important;
  fill: #fff !important;
}

.filter-section-search {
display: flex;
align-items: center;
width: 100%;
height: 44px;
padding: 13px 16px;
background-color: #F3F3F4;
border-radius: 9px;
}

.filter-section-search input {
  width: 100%;
border: none;
padding: 0px !important;
outline: none;
background-color: #F3F3F4;
padding-left: 10px !important;
height: 44px;
border-radius: 9px;
}

.filter-section-search img {
width: 18px;
height: 18px;
cursor: pointer;
}

.filter-search-container {
  width: 31%;
}

.filter-search-container h4 {
font-size: 18px;
color: #49214D;
margin-bottom: 10px;
font-weight: 500;
}

@media (min-width: 1350px) {
  .filter-toggle-section {
    padding: 0 90px;
  }
}

@media (max-width: 1350px) {
  .filter-toggle-section {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 250px;
    margin-top: 30px;
  }

  .filter-search-container {
    width: 100%;
    margin-bottom: 20px;
  }

  .rating-input-section {
    width: 100%;
    margin-bottom: 20px;
  }

  .filter-section-slider-container {
    width: 100%;
  }

  .rating-dropdown {
    width: 90%;
    left: 5%;
    top: 54.5%;
  }

  .rating-dropdown input {
    width: 20px ;
  }
}
